body {
  width: 820px;
  background-color: #b5dcff;
  text-allign: center;
  margin: 50px;
  
}

h1 {
  font-size: 48px;
  font: tahoma;
 
}

h2 {
  font-size: 34px;
  text-allign: center;
}

p {
  line-height: 1.9;
  font-size: 24px;
  text-allign: center;
}

em {
  color: royalblue;
}
